body {
  padding-top: 5rem;
}
.introduction {
  padding: 3rem 1.5rem;
  text-align: center;
}
.about-me {
  padding: 3.5rem 1.5rem;
}
.skills-knowledge {
  padding: 3.5rem 1.5rem;
}
.portfolio {
  padding: 3.5rem 1.5rem;
}
.resume {
  padding: 3.5rem 1.5rem;
}
.contact-info {
  padding: 3.5rem 1.5rem;
}